.header
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__out-btn"
#calendar

#createEventModal.modal.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel1", :role => "dialog", :tabindex => "-1"}
  .modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} X
  .form-control 予定登録
  .modal-body
  = form_with model: @event do |f|
    .form-control
      = f.label "タイトル", class: 'control-label', for:"inputPatient"
      = f.text_field :title, class:'#patientName', required: true
    .form-control
      = f.label "開始日時"
      = f.datetime_select :start, class:'form-control bootstrap-date'
    .form-control
      = f.label "終了日時"
      = f.datetime_select :end, class:'form-control bootstrap-date'
    .form-control
      = f.label "色別"
      = f.select :color, [['Blue'],['Red'],['Yellow'],['Green'],['Purple']], prompt: "Light Blue"
    .form-control
      = f.label "終日予定"
      = f.check_box :allday
    .modal-footer
      = link_to "/", class: "btn" do
        = "もどる"
      = f.submit "登録", class: "btn-primary"