.header
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__out-btn"
#calendar

#createEventModal.modal.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel1", :role => "dialog", :tabindex => "-1"}
  .modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} X
  %h3#myModalLabel1 予定登録
  .modal-body
  = form_with model: @events, url: new_event_path do |f|
    .controls
      = f.label "タイトル", class: 'control-label', for:"inputPatient"
      = f.text_field :title, class:'#patientName', required: true
    .form-group
      = f.label "開始"
      = f.datetime_select :start_time, class:'form-control bootstrap-date mb-3'
    .form-group
      = f.label "終了"
      = f.datetime_select :end_time, class:'form-control bootstrap-date mb-3'
    .modal-footer
      = link_to "/", class: "btn" do
        = "もどる"
      = f.submit "登録", class: "#submitButton.btn.btn-primary"
