#calendar
- if user_signed_in?
  -# = link_to "マイページ", user_path(current_user), class: ""
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class:""
- else
  = link_to 'ログイン', new_user_session_path, class:""
  = link_to '新規会員登録', new_user_registration_path, class:""
  #inputScheduleForm.modal.fade{:tabindex => "-1"}
  .modal-dialog.modal-nm
    .modal-content
      .modal-header
        %h4.modal-title スケジュール登録
      .modal-body
        = form_with model: @event, url: events_path do |f|
          .col
            %p
              %span タイトル
              %span= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください"
            %span 開始日時
            %span
              = f.datetime_field  :start, placeholder: "XXXX-XX-XX", class:"field"
              \~
            %br/
            %span 終了日時
            %span= f.datetime_field :end, placeholder: "XXXX-XX-XX", class:"field"
            %br/
            %span
              詳細
              \#{f.text_field :body, class: "form-control", placeholder: "タイトルの詳細を記入してください"}
          .modal-footer
            = f.submit "登録する", class: "btn btn-primary"
            = f.hidden_field :user_id, :value => current_user.id
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 閉じる
:css

    body {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
    }

    #top {
      background: #eee;
      border-bottom: 1px solid #ddd;
      padding: 0 10px;
      line-height: 40px;
      font-size: 12px;
    }

    #calendar {
      max-width: 900px;
      margin: 40px auto;
      padding: 0 10px;
    }