!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Calendar
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel: "stylesheet"}
    %script{:src => "https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"}
    %script{:src => "https://unpkg.com/@popperjs/core@2"}


  %body
    = render 'layouts/notifications'
    = yield
